 
    <div class="box">
      
            <div class="recherche">
                <div class="options-de-recherche">
                    <div class="overlap">
                        <div class="group">
                            <div class="titre">
                                <div class="overlap-group">
                                    <div class="text-wrapper">Informations</div>
                                </div>
                            </div>
                        </div>
                        <div class="div">
                            <img class="ship-png" src="assets/icons/ship.png" />
                            <img class="img" src="assets/icons/ship.png" />
                            <img class="ship-png-2" src="assets/icons/ship.png" />
                            <div class="text-wrapper-2">Emerald</div>
                            <div class="text-wrapper-3">Crown</div>
                            <div class="text-wrapper-4">Grand</div>
                        </div>
                        <div class="group-2">
                            <div class="text-wrapper-5">Fleet 1</div>
                            <div class="text-wrapper-6">Fleet 2</div>
                            <div class="text-wrapper-7">Fleet 3</div>
                        </div>
                        <div class="group-3">
                            <div class="princess-cruise">Princess <br />Cruise Lines</div>
                            <img class="image" src="assets/icons/user.png" />
                        </div>
                        <div class="text-wrapper-8">Preview</div>
                    </div>
                    
                </div>
                
                <div class="options-de-recherche1"  style="width: 1050px; height: 630px;" >
                    <h2 class="text-center text-white bg-[#E30039] font-semibold text-xl py-2 rounded-t-[10px]">Document</h2>
                    <div style="width: 100%; height: 100%;"  class="h-[340px] overflow-y-scroll custom-scrollbar">
                        <table style="width: 100%; height: 100%; ">
                            <thead>
                                <tr class="bg-white">
                                    <th class="p-3">Name</th>
                                    <th class="p-3">Description</th>
                                    <th class="p-3">Type</th>
                                    <th class="p-3">Created on</th>
                                    <th class="p-3">Last updated on</th>
                                    <th class="p-3">Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                                 <tr class=" text-center">
                                    <td class="p-3">19DLIS0211_B_MatrixFlt.pdf</td>
                                    <td class="p-3">Fault Matrix List</td>
                                    <td class="p-3">PDF</td>
                                    <td class="p-3">10/02/2019</td>
                                    <td class="p-3">11/02/2019</td>
                                    <td class="p-3">222 Ko</td>
                                </tr>
                              
                              
                                <!-- Add more rows here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
     
    </div>
