<div class="font-inter h-full">
    <div class="bg-[#D9D9D9] mx-2 py-2 lg:h-4/6 overflow-hidden">
        <div class="lg:grid lg:grid-cols-5 gap-1 lg:gap-4 px-10 pt-4 pb-2 lg:sh-1/5">
            <div class="col-span-2 lg:grid lg:grid-cols-5 gap-4">
                <div class=" flex w-[467px] h-[35px] bg-white rounded-[15px]">
                    <div (click)="setFont()" [ngStyle]="{'font-family': font ,'font-weight':fontWeight}" class="text-wrapper">Name</div>

                    <div (click)="setFont1()" [ngStyle]="{'font-family': font1 ,'font-weight':fontWeight1}" class="text-wrapper">
                        Creation date</div>

                    <div (click)="setFont2()" [ngStyle]="{'font-family': font2 ,'font-weight':fontWeight2}" class="text-wrapper">Last update
                    </div>
                    <div (click)="setFont3()" [ngStyle]="{'font-family': font3 ,'font-weight':fontWeight3}" class="text-wrapper">Type
                    </div>
                    <div (click)="setFont4()" [ngStyle]="{'font-family': font4 ,'font-weight':fontWeight4}" class="text-wrapper">Ship
                    </div>
                </div>



                <!--<div class="hidden lg:block lg:col-span-2 ">
                    <div class="flex justify-center items-center mx-auto">
                        <div class="mr-4 flex items-center justify-center">
                            <label class="mr-2">Asc</label>
                            <input type="radio" name="sortOption" [(ngModel)]="selectedOptionSort" (ngModelChange)="onSortOptionChange()" value="asc" />
                        </div>
                        <div class="flex items-center justify-center">
                            <label class="mr-2">Desc</label>
                            <input type="radio" name="sortOption" [(ngModel)]="selectedOptionSort" (ngModelChange)="onSortOptionChange()" value="desc" />
                        </div>
                    </div>
                </div>-->

            </div>

            <div class="hidden lg:grid lg:col-span-2 lg:grid-cols-3">
                <div class="flex">
                    <div class="relative flex justify-center items-center mr-4">
                        <button class="col-span-1 font-semibold flex justify-center" (click)="toggleFilter()" [class.active]="showFilter">
                            <img alt="Filter Icon" src="assets/icons/filter.png" class="w-6 h-7" />
                            {{ 'filter' | translate }}
                        </button>
                        <div *ngIf="showFilter" class="rounded-[10px] text-[10px] absolute top-[110px] -left-[65px] transform -translate-y-1/2 bg-white border border-dotted border-[#E30039] py-1 px-2" style="z-index: 2;">
                            <div class="flex">
                                <h1 class="font-semibold mr-2">Type</h1>
                                <button class="p-1 border border-solid border-black mr-2 rounded-[10px]" [ngClass]="{ 'selected': typeFilter === 'PRFS' }" (click)="applyTypeFilter('PRFS')">
                                    PRFS
                                </button>
                                <button class="p-1 border border-solid border-black mr-2 rounded-[10px]" [ngClass]="{ 'selected': typeFilter === 'PRFM' }" (click)="applyTypeFilter('PRFM')">
                                    PRFM
                                </button>
                                <button class="p-1 border border-solid border-black mr-2 rounded-[10px]" [ngClass]="{ 'selected': typeFilter === 'PRMA' }" (click)="applyTypeFilter('PRMA')">
                                    PRMA
                                </button>
                            </div>
                            <div class="flex mt-2">
                                <h1 class="font-semibold mr-2">Status</h1>
                                <select class="ml-2 border border-black p-1" [(ngModel)]="statusFilter" (ngModelChange)="applyStatusFilter($event)">
                                    <option value=0 selected>All</option>
                                    <option *ngFor="let stt of status" [value]="stt.status_id"
                                        class="flex items-center justify-start">
                                        {{ stt.status_label }}
                                    </option>
                                </select>
                            </div>
                            <div class="flex mt-2">
                                <h1 class="font-semibold mr-2">Client</h1>
                                <select class="ml-2 border border-black p-1" [(ngModel)]="client" (ngModelChange)="applyClientFilter($event)">
                                    <option value="" selected>All</option>
                                    <option *ngFor="let customer of customers" [value]="customer.customer_name">{{
                                        customer.customer_name }}</option>
                                </select>
                            </div>
                            <div class="flex justify-center mt-2">
                                <button (click)="resetFilter()" class="bg-[#E30039] px-4 py-2 border border-solid border-black rounded-[10px] text-white">Reset</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="relative flex justify-center items-center mx-4">
                <button class="col-span-1 font-semibold flex justify-center" (click)="toggleExport()" [class.active]="showExport">
                    <img alt="Export Icon" src="assets/icons/export.png" class="w-6 h-7" />
                    {{ 'export' | translate}}
                </button>
                <div *ngIf="showExport" class="z-40 text-[10px] rounded-[10px] absolute top-6 left-[85px] transform -translate-y-1/2 bg-white border border-dotted border-[#E30039] py-1 px-2">
                    <div class="flex">
                        <button [ngClass]="{ 'selected': exportType === 'csv' }" (click)="exportTypeSet('csv')" class="py-1 px-2 border border-solid border-black mr-2 rounded-[10px]">csv</button>
                        <button [ngClass]="{ 'selected': exportType === 'json' }" (click)="exportTypeSet('json')" class="py-1 px-2 border border-solid border-black mr-2 rounded-[10px]">json</button>
                        <button [ngClass]="{ 'selected': exportType === 'pdf' }" (click)="exportTypeSet('pdf')" class="py-1 px-2 border border-solid border-black mr-2 rounded-[10px]">pdf</button>
                        <button [ngClass]="{ 'selected': exportType === 'xls' }" (click)="exportTypeSet('xls')" class="py-1 px-2 border border-solid border-black mr-2 rounded-[10px]">xls</button>
                    </div>
                    <div class="flex justify-center items-center mt-2">
                        <button (click)="exportData()" class="bg-[#E30039] font-semibold py-1 px-4 text-white rounded-[10px]">Export</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 lg:mx-10 h-[300px] lg:h-4/5 overflow-y-scroll custom-scrollbar">
            <div *ngIf="isLoading; else ticketList" class="flex items-center justify-center h-full bg-white">
                <svg class="animate-spin h-5 w-5 mr-3 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.878 3.2 8.062l2.83-2.83zM12 20c-3.042 0-5.878-1.135-8.062-3.2l-2.83 2.83A7.962 7.962 0 0012 24h.001c4.418 0 8-3.582 8-8V12h-4v8z">
                    </path>
                </svg>
                <p class="text-gray-600">Loading tickets...</p>
            </div>

            <ng-template #ticketList>
                <app-ticket *ngFor="let ticket of tickets; let i = index" [data]="ticket"></app-ticket>
            </ng-template>

        </div>
    </div>

</div>

<!-- Transparent overlay for the Creation Ticket Dropdown -->
<div *ngIf="isCreateTicketVisible" class="fixed inset-0 bg-black opacity-50 z-9"></div>


<!-- Mega Dropdown -->
<div *ngIf="isCreateTicketVisible" class="font-bold absolute top-1/3 left-1/2 rounded-[20px] transform -translate-x-1/2 border border-solid border-[#E30039] bg-white z-10 py-2 shadow-lg">
    <div class="flex justify-between px-4 py-1">
        <div></div>
        <div>
            <h1 class="font-bold mb-1">{{ 'newTicket' | translate }}</h1>
        </div>
        <div>
            <img (click)="toggleCreateTicket()" alt="Icon close" src="assets/icons/close.png" class="w-4 h-4 cursor-pointer" />
        </div>
    </div>
    <div class="px-2">
        <hr class="px-2 border border-dashed border-gray-600">
        <h2 class="text-sm text-center mt-4">{{ 'whichkindTicket' | translate }}</h2>
    </div>
    <div class="flex justify-between px-6 py-8">
        <button class="rounded-[10px] mr-6 bg-[#E30039] text-white font-bold shadow-lg py-4 px-6" routerLink="/technnav/create/prfs">PRFS</button>
        <button class="rounded-[10px] mr-6 bg-[#E30039] text-white font-bold shadow-lg py-4 px-6" routerLink="/technnav/create/prfm">PRFM</button>
        <button class="rounded-[10px] bg-[#E30039] text-white font-bold shadow-lg py-4 px-6" routerLink="/technnav/create/prma">PRMA</button>
    </div>
</div>