<div class="bg-[#D9D9D9] px-20 py-4 mx-2">
    <div class="grid grid-cols-4 grid-flow-col gap-4">
        <div class="col-span-1 bg-[#ffffff99] rounded-[10px] px-10 py-2">
            <div>
                <input type="radio" class="mr-4" />
                <label>24/7 Support</label>
            </div>
            <div>
                <input type="radio" class="mr-4" />
                <label>Standard support</label>
            </div>
        </div>
        <div class="col-span-3 grid grid-cols-3 bg-[#ffffff99] rounded-[10px] p-2">
            <div class="mx-auto">
                <img
                    alt="customer"
                    src="assets/icons/user.png"
                    class="mx-auto my-2 w-6 h-6"
                />
                <select class="bg-white border border-solid border-black mb-2 w-[130px]">
                    <option selected value="">None</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
            <div class="mx-auto">
                <img
                    alt="fleet"
                    src="assets/icons/fleet.png"
                    class="mx-auto my-2 w-12 h-6"
                />
                <select class="bg-white border border-solid border-black mb-2 w-[130px]">
                    <option selected value="">None</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
            <div class="mx-auto">
                <img
                    alt="ship"
                    src="assets/icons/ship.png"
                    class="mx-auto my-2 w-12 h-6"
                />
                <select class="bg-white border border-solid border-black mb-2 w-[130px]">
                    <option selected value="">None</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4  mt-3">
        <textarea class="p-2 text-[#888] bg-[#ffffff99] w-[100%] h-[100px] border border-solid border-black rounded-[10px]">Description </textarea>
        <div class="bg-[#ffffff99] rounded-[10px]">

        </div>
        <div class="bg-[#ffffff99] rounded-[10px]">
            
        </div>
    </div>
    <div class="bg-[#ffffff99] rounded-[10px] mt-3 grid grid-cols-3 p-3">
        <div class="mx-auto">
            <h2 class="text-center my-2">Side</h2>
            <select class="bg-white border border-solid border-black mt-2 mb-4 w-[130px]">
                <option selected value="">None</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
            </select>
        </div>
        <div class="mx-auto">
            <h2 class="text-center my-2">Production Item</h2>
            <select class="bg-white border border-solid border-black mt-2 mb-4 w-[130px]">
                <option selected value="">None</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
            </select>
        </div>
        <div class="mx-auto">
            <h2 class="text-center my-2">Confirmation of receipt</h2>
            <select class="bg-white border border-solid border-black mt-2 mb-4 w-[130px]">
                <option selected value="">None</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-3 mt-4 rounded-[10px] grid-flow-col gap-4">
        <textarea class="p-2 h-[135px] text-[#888] bg-[#ffffff99] border border-solid border-black rounded-[10px]">Remarks</textarea>
        <button class="text-white font-bold bg-[#E30039] border border-solid border-black rounded-[10px]">Create ticket</button>
        <button class="ml-4 bg-white font-bold border border-solid border-black rounded-[10px]">Cancel</button>
    </div>
</div>
