<div class="bg-[#D9D9D9] mx-2 pt-2 pb-4">
    <div class="flex justify-center py-3 relative">
        <input class="rounded-[25px] w-[50%] px-8 py-3 pr-12" placeholder="Research" />
        <img
            alt="loupe"
            src="assets/icons/loupe.png"
            class="-ml-16 h-9 my-2"
        />
    </div>
    <div class="px-4 text-sm flex justify-start mb-2">
        <h2>Advanced research</h2>
        <img
            alt="Plus icon"
            src="assets/icons/plus.png"
            class="w-4 h-4 ml-2 mt-1"
        />
    </div>
    <div class="px-4">
        <h2 class="text-center text-white bg-[#E30039] font-semibold text-xl py-2 rounded-t-[10px]">Research result</h2>
        <div class="h-[340px] overflow-y-scroll w-full custom-scrollbar">
            <table class="w-full">
                <thead>   
                    <tr class="bg-white">
                        <th class="p-3">Name</th>
                        <th class="p-3">Description</th>
                        <th class="p-3">Type</th>
                        <th class="p-3">Created on</th>
                        <th class="p-3">Last updated on</th>
                        <th class="p-3">Size</th>
                    </tr>             
                </thead>
                <tbody>
                    <tr *ngFor="let document of documents" class="text-center">
                        <td class="p-3">{{document.doc_last_version}}</td>
                        <td class="p-3">{{document.doc_description}}</td>
                        <td class="p-3">{{document.doc_type}}</td>
                        <td class="p-3">{{ document.formattedDate}}</td>
                        <td class="p-3">{{document.formattedDateUpdate}}</td>
                        <td class="p-3">{{document.doc_size}} ko</td>
                    </tr>      
                    <!-- Add more rows here -->
                </tbody>
            </table>
        </div>
    </div>
</div>
